<nav class="navbar">
    <span class="brand"><a href="/">M &amp; H</a></span>
    <a href="/">Home</a>
    <a href="/#about-us">About Us</a>
    <a href="/#services">Services</a>
    <a href="/#contact">Contact</a>
    <div class="dropdown">
      <a href="#">Area of Applications &#9662;</a>
      <div class="dropdown-content">
        <a href="/tomato">Outdoor Tomato Growing</a>
        <a href="#">Greenhouses</a>
        <a href="#">Outdoor Farming</a>
      </div>
    </div>
    <a href="/enquiry">Enquiry</a>
    <span class="right">
      <a href="/login">Login</a>
    </span>
  </nav>